@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

.container {
  max-width: 100%;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;

}
body {
  background-color: $favColor !important;
  margin: 0;
  max-width: 100%;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.text-center {
  text-align: center!important;
  background-color: green;
}
.vadana {
  width: max-content;
}
