@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import 'globals';

body {
  background-color: $favColor !important;
  margin: 15px;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}
.text-center {
  text-align: center!important;
  background-color: green;
}
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 2276px;
}
.card {
  border-spacing: 0ch;
}